.section_title_bg {
  position: absolute;
  top: 40px;
  max-width: 50%;
  object-fit: contain;
  z-index: 0;
}

.section_title_bg--left {
  left: -32px;
}

.section_title_bg--center {
  left: 50%;
  transform: translateX(-50%);
}

.section_title_bg--right {
  right: -32px;
}

.section_title--center {
  width: 100%;
  text-align: center;
}

.section_title_text {
  position: relative;
  z-index: 1;
  margin: 0;
  color: white;
  font-size: 48px;
  font-weight: 700;
  white-space: pre-line;
}
