.calculation_component_table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-inline: 86px;
  padding-block: 64px;
  text-align: left;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  color: white;
}

.calculation_component_table_container .styled_table {
  width: 100%;
}

.calculation_component_table_container p {
  margin: 0;
  max-width: 100%;
}
